body {
  background-color: none;
  width: 100vw;
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
label {
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
}

a {
  text-decoration-line: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}  */

html {
  background-image: url("https://pro2-bar-s3-cdn-cf5.myportfolio.com/6eeae5a2e91d6f4cf1067e6935759146/69e4cc7c-29a2-472c-b35f-a899ac5ef803_rw_1920.jpg?h=c742ebc7dea9104a66476894ad713745");
  background-size: cover;
  background-attachment: fixed;
}
