/* body {
  background-color: none;
  width: 95vw;
} */
/*
h1,
h2,
h3,
h4,
h5,
p,
label {
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
}

a {
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration-line: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html {
  background-image: url("https://media.istockphoto.com/vectors/cute-meadow-area-with-clouds-stars-and-mountains-vector-id1182467056?k=20&m=1182467056&s=612x612&w=0&h=1dUn-3Am0dxxxkEGS04WvQgbCa8PCkps-Y0F2vvAAS0=");
  background-size: 80%;
  height: 40vw;
  width: 100vw;
  background-attachment: fixed;
}
