.cards {
  width: 30vw;
  height: max-content;
  border: 10px;
  border-radius: 10%;
}

.cards img {
  width: 20vw;
  height: 10vw;
  border-radius: 10%;
}

.cards:hover {
  background-color: bisque;
  box-shadow: 10%;
}

