.detail {
  width: 90vw;
  height: 90vw;
  justify-content: center;
  justify-items: center;
  display: inline;
}

.detail img {
  width: 60vw;
  height: 25vw;
  border-radius: 5%;
}

.list {
    display: block ruby;
}

.back {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3d348b;
  box-shadow: 0 5px #2c0b8e;
}

.back:hover {
  box-shadow: 0 3px #2c0b8e;
  top: 1px;
}
.back:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}

.create {
  margin-top: 2vw;
}

.div {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}