.back {
  min-width: 130px;
  height: 40px;
  margin-left: 13vh;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3d348b;
  box-shadow: 0 5px #2c0b8e;
}

.back:hover {
  box-shadow: 0 3px #2c0b8e;
  top: 1px;
}

.back:active {
  transform: translateY(1px);
} 

.form form {
  width: 40vw;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: whitesmoke;
  height: max-content;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.create {
  display: inline-grid;
  margin-top: 20px;
  width: 300px;
  height: 450px;
}

.create input {
  width: 300px;
}

.create label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.select {
  display: flex;
  justify-content: center;
}

.select div {
  margin: 5%;
}

.submit {
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.submit button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.submit button:active {
  transform: translateY(1px);
}

.options select {
  width: 15vw;
  height: 2vw;
  width: 8vw;
  font-size: 70%;
  background-color: #fff;
  border: none;
  border-radius: 10%;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.options p {
  font-size: smaller;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div_error {
  color: red;
  font-size: small;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 10vw;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 5%;
  background-color: #fff;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
