.homeCards {
  display: grid;
  height: fit-content;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  margin: 1vw;
  margin-bottom: 3vw;
}

.navegation {
  display: flex;
  justify-content: end;
  height: 4vw;
  margin-right: 10vw;
}

/* .navegationButton {
  display: flex;
  height: fit-content;
  margin-left: 2vw;
  width: 4vw;
  margin-top: 2vw;
  border-radius: 10%;
  font-size: 0.8vw;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background: #3d348b;
  box-shadow: 0 3px #2c0b8e;
}

.navegationButton:hover {
  box-shadow: 0 1px #2c0b8e;
}
.navegationButton:active {
  transform: translateY(-1px);
} */

.navegationButton {
  cursor: pointer;
  width: 15vh;
  height: 5vh;
  margin-left: 15px;
  display: block;
  padding: 0.6em 0.88em;
  background: linear-gradient(
    to right,
    rgba(100, 148, 237, 0.911) 50%,
    #3d348b 50%
  );
  background-size: 200% 100.5%;
  background-position: right bottom;
  font: 1.25em "Montserrat";
  color: #020202;
  border: none;
  border-left: 0.2em solid rgba(100, 148, 237, 0.911);
  border-color: none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-out;
}

.navegationButton:hover {
  background-position: left bottom;
  color: white;
}